<div class="well">
    <h4>David J. Brady</h4>
    <img src="{{ site.url }}{{ site.baseurl }}/assets/images/member/ni-bio.jpg" width=98% />
    <br>
    <a href="https://scholar.google.com/citations?user=adQED6IAAAAJ&amp;sortby=pubdate" target="_blank"
        rel="noopener"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo/google_scholar.svg" alt="" width="20"
            height="20" /></a> <a href="https://github.com/ni-chen" target="_blank" rel="noopener"><img
            src="{{ site.url }}{{ site.baseurl }}/assets/images/logo/github.svg" width="20" height="20" /></a> <a
        href="mailto:nichen@arizona.edu"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo/email.svg"
            width="20" height="20" /><a>
            <img title="neysachen" src="{{ site.url }}{{ site.baseurl }}/assets/images/logo/wechat.svg" width="20"
                height="20" /> <a href="{{ site.url }}{{ site.baseurl }}/assets/files/CV/CV.pdf" target="_blank"
                rel="noopener"><img src="{{ site.url }}{{ site.baseurl }}/assets/images/logo/cv.svg" width="20"
                    height="20" /></a>
</div>