<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description"
    content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl | prepend: site.url}}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">
  <link rel="stylesheet" href="{{ site.url }}{{site.baseurl}}/assets/fonts/font-awesome/css/font-awesome.min.css">
  
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
  <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
  </script>

  <script>
    function ShowOrHide(select='inpress') {
        // var elem = document.getElementById("btn");
        var x = document.getElementById('inpress');
        var y = document.getElementById('byyear');
        var z = document.getElementById('bytype');
        var w = document.getElementById('bytalk');
        var u = document.getElementById('bydiscip');


        var x_btn = document.getElementById("btn_inpress");
        var y_btn = document.getElementById("btn_byyear");
        var z_btn = document.getElementById("btn_bytype");
        var w_btn = document.getElementById("btn_bytalk");
        var u_btn = document.getElementById("btn_bydiscip");


        // document.getElementById(select).display='block';
        // document.getElementById("btn_"+select).disabled=true;

        if (select == 'inpress') {          
            x.style.display = 'block';
            x_btn.disabled = true; 
            y.style.display = 'none';
            y_btn.disabled = false;   
            z.style.display = 'none';
            z_btn.disabled = false;   
            w.style.display = 'none';
            w_btn.disabled = false;   
            u.style.display = 'none';
            u_btn.disabled = false;  
            // elem.innerHTML = typetxt;
        } else if (select == 'byyear'){          
            x.style.display = 'none';
            x_btn.disabled = false;  
            y.style.display = 'block';
            // y_btn.closest('li').addClass('active');   
            y_btn.disabled = true;
            z.style.display = 'none';
            z_btn.disabled = false;  
            w.style.display = 'none';
            w_btn.disabled = false;  
            u.style.display = 'none';
            u_btn.disabled = false;   
            // elem.innerHTML = yeartxt;
        } else if (select == 'bytype'){          
            x.style.display = 'none';
            x_btn.disabled = false;  
            y.style.display = 'none';
            y_btn.disabled = false;  
            z.style.display = 'block';
            z_btn.disabled = true;
            // z_btn.parents('li').addClass('active').siblings().removeClass('active'); 
            w.style.display = 'none';
            w_btn.disabled = false;   
            u.style.display = 'none';
            u_btn.disabled = false;  
        }
        else if (select == 'bytalk'){          
            x.style.display = 'none';
            x_btn.disabled = false;  
            y.style.display = 'none';
            y_btn.disabled = false;  
            z.style.display = 'none';
            z_btn.disabled = false;
            w.style.display = 'block';
            w_btn.disabled = true;  
            u.style.display = 'none';
            u_btn.disabled = false;  
        }
        else if (select == 'bydiscip'){          
            x.style.display = 'none';
            x_btn.disabled = false;  
            y.style.display = 'none';
            y_btn.disabled = false;  
            z.style.display = 'none';
            z_btn.disabled = false;
            w.style.display = 'none';
            w_btn.disabled = false;   
            u.style.display = 'block';
            u_btn.disabled = true;   
        }
    }
  </script>


  <!-- Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-TXGRE1MPLZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-TXGRE1MPLZ');
</script>
  


<script type="text/javascript">
  (function(c,l,a,r,i,t,y){
      c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
      t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
      y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
  })(window, document, "clarity", "script", "l0fyrfksvt");
</script>



  <!-- {% if jekyll.environment == 'production' %} -->
  {% include google-analytics.html %}
  <!-- {% endif %} -->
 

  <!-- google search --> 
  <meta name="google-site-verification" content="zA-pyWCSMDUz2guOFMd9WzdV7NSk1GTXBbDOrCN9FN4" />

</head>
